// COLOR
$global-primary-color: #b06010;
$global-secondary-color: #204b87;
$global-heading-color: #262c38;
$global-text-color: #4f5667;

// FONT
$global-heading-font-size:2.7em;
$global-heading-letter-spacing:2px;
$global-heading-letter-spacing:1.5em;
$global-subtitle-font-size:1em;
$global-subtitle-letter-spacing:6px;

// SPACING
$global-padding:3rem 15px;
